In [1]:
import pandas as pd
df_city_day= pd.read_csv("city_day.csv")
print(df_city_day)

                City        Date  PM2.5   PM10     NO    NO2    NOx    NH3  \
0          Ahmedabad  2015-01-01    NaN    NaN   0.92  18.22  17.15    NaN
1          Ahmedabad  2015-01-02    NaN    NaN   0.97  15.69  16.46    NaN
2          Ahmedabad  2015-01-03    NaN    NaN  17.40  19.30  29.70    NaN
3          Ahmedabad  2015-01-04    NaN    NaN   1.70  18.48  17.97    NaN
4          Ahmedabad  2015-01-05    NaN    NaN  22.10  21.42  37.76    NaN
...              ...         ...    ...    ...    ...    ...    ...    ...
29526  Visakhapatnam  2020-06-27  15.02  50.94   7.68  25.06  19.54  12.47
29527  Visakhapatnam  2020-06-28  24.38  74.09   3.42  26.06  16.53  11.99
29528  Visakhapatnam  2020-06-29  22.91  65.73   3.45  29.53  18.33  10.71
29529  Visakhapatnam  2020-06-30  16.64  49.97   4.05  29.26  18.80  10.03
29530  Visakhapatnam  2020-07-01  15.00  66.00   0.40  26.85  14.05   5.20

          CO    SO2      O3  Benzene  Toluene  Xylene   AQI    AQI_Bucket
0       0.92  27.64  133.36     0.00     0.02    0.00   NaN           NaN
1       0.97  24.55   34.06     3.68     5.50    3.77   NaN           NaN
2      17.40  29.07   30.70     6.80    16.40    2.25   NaN           NaN
3       1.70  18.59   36.08     4.43    10.14    1.00   NaN           NaN
4      22.10  39.33   39.31     7.01    18.89    2.78   NaN           NaN
...      ...    ...     ...      ...      ...     ...   ...           ...
29526   0.47   8.55   23.30     2.24    12.07    0.73  41.0          Good
29527   0.52  12.72   30.14     0.74     2.21    0.38  70.0  Satisfactory
29528   0.48   8.42   30.96     0.01     0.01    0.00  68.0  Satisfactory
29529   0.52   9.84   28.30     0.00     0.00    0.00  54.0  Satisfactory
29530   0.59   2.10   17.05      NaN      NaN     NaN  50.0          Good

[29531 rows x 16 columns]

In [2]:
df_city_hour= pd.read_csv("city_hour.csv")
print(df_city_hour)

                 City             Datetime  PM2.5   PM10    NO    NO2    NOx  \
0           Ahmedabad  2015-01-01 01:00:00    NaN    NaN  1.00  40.01  36.37
1           Ahmedabad  2015-01-01 02:00:00    NaN    NaN  0.02  27.75  19.73
2           Ahmedabad  2015-01-01 03:00:00    NaN    NaN  0.08  19.32  11.08
3           Ahmedabad  2015-01-01 04:00:00    NaN    NaN  0.30  16.45   9.20
4           Ahmedabad  2015-01-01 05:00:00    NaN    NaN  0.12  14.90   7.85
...               ...                  ...    ...    ...   ...    ...    ...
707870  Visakhapatnam  2020-06-30 20:00:00   9.50  36.00  2.75  25.57  15.85
707871  Visakhapatnam  2020-06-30 21:00:00  17.25  49.25  3.62  33.20  20.62
707872  Visakhapatnam  2020-06-30 22:00:00  36.00  71.00  2.20  30.80  18.20
707873  Visakhapatnam  2020-06-30 23:00:00  15.75  63.00  1.02  28.90  16.00
707874  Visakhapatnam  2020-07-01 00:00:00  15.00  66.00  0.40  26.85  14.05

         NH3    CO     SO2      O3  Benzene  Toluene  Xylene   AQI  \
0        NaN  1.00  122.07     NaN      0.0      0.0     0.0   NaN
1        NaN  0.02   85.90     NaN      0.0      0.0     0.0   NaN
2        NaN  0.08   52.83     NaN      0.0      0.0     0.0   NaN
3        NaN  0.30   39.53  153.58      0.0      0.0     0.0   NaN
4        NaN  0.12   32.63     NaN      0.0      0.0     0.0   NaN
...      ...   ...     ...     ...      ...      ...     ...   ...
707870  4.57  0.62     NaN   27.75      NaN      NaN     NaN  51.0
707871  3.78  0.76    2.02   25.58      NaN      NaN     NaN  51.0
707872  3.67  0.58    1.77   26.15      NaN      NaN     NaN  50.0
707873  3.80  0.49    0.75   15.82      NaN      NaN     NaN  50.0
707874  5.20  0.59    2.10   17.05      NaN      NaN     NaN  50.0

          AQI_Bucket
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
707870  Satisfactory
707871  Satisfactory
707872          Good
707873          Good
707874          Good

[707875 rows x 16 columns]

In [15]:
'''city_day= df_city_day.loc[df_city_day['City']&df_city_day['AQI_Bucket']]
city_hr= df_city_hour['City', 'AQI_Bucket']
final_df= city_day.merge[city_hr]
print(final_df)'''
print(df_city_day['City'], df_city_day['AQI_Bucket'])

0            Ahmedabad
1            Ahmedabad
2            Ahmedabad
3            Ahmedabad
4            Ahmedabad
             ...
29526    Visakhapatnam
29527    Visakhapatnam
29528    Visakhapatnam
29529    Visakhapatnam
29530    Visakhapatnam
Name: City, Length: 29531, dtype: object 0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
             ...
29526            Good
29527    Satisfactory
29528    Satisfactory
29529    Satisfactory
29530            Good
Name: AQI_Bucket, Length: 29531, dtype: object

In [3]:
df_station_day=pd.read_csv("station_day.csv")
print(df_station_day)

       StationId        Date  PM2.5    PM10     NO     NO2     NOx    NH3  \
0          AP001  2017-11-24  71.36  115.75   1.75   20.65   12.40  12.19
1          AP001  2017-11-25  81.40  124.50   1.44   20.50   12.08  10.72
2          AP001  2017-11-26  78.32  129.06   1.26   26.00   14.85  10.28
3          AP001  2017-11-27  88.76  135.32   6.60   30.85   21.77  12.91
4          AP001  2017-11-28  64.18  104.09   2.56   28.07   17.01  11.42
...          ...         ...    ...     ...    ...     ...     ...    ...
108030     WB013  2020-06-27   8.65   16.46    NaN     NaN     NaN    NaN
108031     WB013  2020-06-28  11.80   18.47    NaN     NaN     NaN    NaN
108032     WB013  2020-06-29  18.60   32.26  13.65  200.87  214.20  11.40
108033     WB013  2020-06-30  16.07   39.30   7.56   29.13   36.69  29.26
108034     WB013  2020-07-01  10.50   36.50   7.78   22.50   30.25  27.23

          CO    SO2      O3  Benzene  Toluene  Xylene    AQI    AQI_Bucket
0       0.10  10.76  109.26     0.17     5.92    0.10    NaN           NaN
1       0.12  15.24  127.09     0.20     6.50    0.06  184.0      Moderate
2       0.14  26.96  117.44     0.22     7.95    0.08  197.0      Moderate
3       0.11  33.59  111.81     0.29     7.63    0.12  198.0      Moderate
4       0.09  19.00  138.18     0.17     5.02    0.07  188.0      Moderate
...      ...    ...     ...      ...      ...     ...    ...           ...
108030  0.69   4.36   30.59     1.32     7.26     NaN   50.0          Good
108031  0.68   3.49   38.95     1.42     7.92     NaN   65.0  Satisfactory
108032  0.78   5.12   38.17     3.52     8.64     NaN   63.0  Satisfactory
108033  0.69   5.88   29.64     1.86     8.40     NaN   57.0  Satisfactory
108034  0.58   2.80   13.10     1.31     7.39     NaN   59.0  Satisfactory

[108035 rows x 16 columns]

In [4]:
df_station_hour=pd.read_csv("station_hour.csv")
print(df_station_hour)

        StationId             Datetime  PM2.5    PM10    NO    NO2    NOx  \
0           AP001  2017-11-24 17:00:00  60.50   98.00  2.35  30.80  18.25
1           AP001  2017-11-24 18:00:00  65.50  111.25  2.70  24.20  15.07
2           AP001  2017-11-24 19:00:00  80.00  132.00  2.10  25.18  15.15
3           AP001  2017-11-24 20:00:00  81.50  133.25  1.95  16.25  10.23
4           AP001  2017-11-24 21:00:00  75.25  116.00  1.43  17.48  10.43
...           ...                  ...    ...     ...   ...    ...    ...
2589078     WB013  2020-06-30 20:00:00  15.55   47.80  7.27  35.08  42.38
2589079     WB013  2020-06-30 21:00:00  15.23   42.30  6.10  26.78  32.85
2589080     WB013  2020-06-30 22:00:00  11.40   40.95  6.58  19.53  26.12
2589081     WB013  2020-06-30 23:00:00   9.25   34.33  9.17  21.85  31.00
2589082     WB013  2020-07-01 00:00:00  10.50   36.50  7.78  22.50  30.25

           NH3    CO    SO2      O3  Benzene  Toluene  Xylene   AQI  \
0         8.50  0.10  11.85  126.40     0.10     6.10    0.10   NaN
1         9.77  0.10  13.17  117.12     0.10     6.25    0.15   NaN
2        12.02  0.10  12.08   98.98     0.20     5.98    0.18   NaN
3        11.58  0.10  10.47  112.20     0.20     6.72    0.10   NaN
4        12.03  0.10   9.12  106.35     0.20     5.75    0.08   NaN
...        ...   ...    ...     ...      ...      ...     ...   ...
2589078  31.25  0.80   9.40   17.24     2.56    11.57     NaN  59.0
2589079  30.66  0.56   4.91   17.46     3.49    12.29     NaN  59.0
2589080  30.73  0.61   3.81   17.24     1.83     8.88     NaN  59.0
2589081  29.61  0.65   3.44   12.74     1.40     8.43     NaN  59.0
2589082  27.23  0.58   2.80   13.10     1.31     7.39     NaN  59.0

           AQI_Bucket
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
2589078  Satisfactory
2589079  Satisfactory
2589080  Satisfactory
2589081  Satisfactory
2589082  Satisfactory

[2589083 rows x 16 columns]

/var/folders/3f/4pfz7c6127q8vrxv3p9cshcr0000gn/T/ipykernel_87997/2420821892.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_station_hour=pd.read_csv("station_hour.csv")

In [5]:
df_stations=pd.read_csv("stations.csv")
print(df_stations)

    StationId                                     StationName  \
0       AP001                  Secretariat, Amaravati - APPCB
1       AP002  Anand Kala Kshetram, Rajamahendravaram - APPCB
2       AP003                      Tirumala, Tirupati - APPCB
3       AP004                 PWD Grounds, Vijayawada - APPCB
4       AP005          GVM Corporation, Visakhapatnam - APPCB
..        ...                                             ...
225     WB010                       Jadavpur, Kolkata - WBPCB
226     WB011    Rabindra Bharati University, Kolkata - WBPCB
227     WB012               Rabindra Sarobar, Kolkata - WBPCB
228     WB013                       Victoria, Kolkata - WBPCB
229     WB014              Ward-32 Bapupara, Siliguri - WBPCB

                  City           State  Status
0            Amaravati  Andhra Pradesh  Active
1    Rajamahendravaram  Andhra Pradesh     NaN
2             Tirupati  Andhra Pradesh     NaN
3           Vijayawada  Andhra Pradesh     NaN
4        Visakhapatnam  Andhra Pradesh  Active
..                 ...             ...     ...
225            Kolkata     West Bengal  Active
226            Kolkata     West Bengal  Active
227            Kolkata     West Bengal  Active
228            Kolkata     West Bengal  Active
229           Siliguri     West Bengal     NaN

[230 rows x 5 columns]

In [22]:
print(df_station_day.columns)
print(df_station_hour.columns)
print(df_stations.columns)

Index(['StationId', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO',
       'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')
Index(['StationId', 'Datetime', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3',
       'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')
Index(['StationId', 'StationName', 'City', 'State', 'Status'], dtype='object')

In [24]:
station_day_selected = df_station_day[['StationId', 'AQI_Bucket']]
stations_selected = df_stations[['StationId', 'StationName']]
final_df = stations_selected.merge(station_day_selected, on='StationId', how='inner')
print(final_df)
final_df.to_csv('station_id_name_aqi.csv', index= False)

       StationId                     StationName    AQI_Bucket
0          AP001  Secretariat, Amaravati - APPCB           NaN
1          AP001  Secretariat, Amaravati - APPCB      Moderate
2          AP001  Secretariat, Amaravati - APPCB      Moderate
3          AP001  Secretariat, Amaravati - APPCB      Moderate
4          AP001  Secretariat, Amaravati - APPCB      Moderate
...          ...                             ...           ...
108030     WB013       Victoria, Kolkata - WBPCB          Good
108031     WB013       Victoria, Kolkata - WBPCB  Satisfactory
108032     WB013       Victoria, Kolkata - WBPCB  Satisfactory
108033     WB013       Victoria, Kolkata - WBPCB  Satisfactory
108034     WB013       Victoria, Kolkata - WBPCB  Satisfactory

[108035 rows x 3 columns]